.github
.nyc_output/
dist/
docs/
logs/
node_modules/
syntest/
.*
*.json
*.md
*.cff


# Since the javascript files have a lot of eslint errors that will be fixed by refactoring to typescript we ignore them for now.
src/**/*.js