name: build

on:
  push:
    branches: [main, develop]
    paths-ignore:
      - "docs/"
      - "**.md"
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - "docs/"
      - "**.md"

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      # Keep running other versions when a job fails
      fail-fast: false

      matrix:
        # Run the pipeline on all the currently supported OS versions
        os: [ubuntu-latest]

        # Run the pipeline on all the currently supported LTS versions and the upcoming version
        node-version: [18, 19]

        # Run the pipeline on all the currently supported architectures
        architecture: [x64]

    steps:
      # Cloning
      - uses: actions/checkout@v2
        with:
          repository: "syntest-framework/syntest-framework"
          token: ${{ secrets.SYNTEST_CI }}
          path: syntest-framework
      - uses: actions/checkout@v2
        with:
          path: syntest-solidity

      # Setup
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          architecture: ${{ matrix.architecture }}

      # Caching
      - name: Get NPM cache directory
        id: npm-cache-dir
        run: echo "::set-output name=dir::$(npm config get cache)"
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('*/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            ${{ runner.os }}-

      # SynTest Framework
      - name: Framework - Install Dependencies
        run: npm install
        working-directory: syntest-framework
      - name: Framework - Build framework
        run: npm run build
        working-directory: syntest-framework
      - name: Framework - Link
        run: npm link
        working-directory: syntest-framework

      # Dependencies
      - name: Solidity - Install Dependencies
        run: npm install
        working-directory: syntest-solidity
      - name: Solidity - Link Local Framework
        run: npm link @syntest/core
        working-directory: syntest-solidity

      # Building
      - name: Solidity - Build Solidity
        run: npm run build
        working-directory: syntest-solidity

      # Testing
      - name: Solidity - Run Tests
        run: npm test
        working-directory: syntest-solidity
