name: SynTest CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Run the pipeline on all the currently supported LTS versions and the latest version
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    # Cloning
    - uses: actions/checkout@v2
      with:
       repository: 'syntest-framework/syntest-framework'
       token: ${{ secrets.SYNTEST_CI }}
       path: syntest-framework
    - uses: actions/checkout@v2
      with:
        path: syntest-solidity
        
    # Setup
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    # Caching
    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
       path: ~/.npm
       key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
       restore-keys: |
         ${{ runner.OS }}-node-
         ${{ runner.OS }}-
       
    # SynTest Framework
    - name: Framework - Install Dependencies
      run: npm ci
      working-directory: syntest-framework
    - name: Framework - Build framework
      run: npm run build
      working-directory: syntest-framework
      
    # Dependencies
    - name: Solidity - Install Dependencies
      run: npm ci
      working-directory: syntest-solidity
      
    # Building
    - name: Solidity - Build Solidity
      run: npm run build
      working-directory: syntest-solidity
    
    # Testing
    - name: Solidity - Run Tests
      run: npm test
      working-directory: syntest-solidity
